body {
  background-color:#F3F6FF;
}
#blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:90vw;
  max-width:600px;
  min-width:320px;
  margin:auto;
}
.post {
  width:100%;
  margin:0px 0px 24px 0px;
  background-color:#FFFFFF;
}
/* Hides last post created via structure */
.post:last-child {
  display:none;
}
.post img {
  width:100%;
  height:auto;
}
/* copy padding / image no padding */
.copyContainer {
  padding:16px;
}
.postButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}