* {
  box-sizing: border-box;
}

:root {
  --scale: 1.0;
  --position: fixed;
  --opacity: 1.0;
  --visibility: visible;
  --offset: 500px;
  --docHeight: 1080px;
}

.landing {
  position:fixed;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  transform: scale(var(--scale));
  transition: all 0.3s linear;
  visibility: var(--visibility);
}


.landing__center,
.landing__front {
  position: absolute;
}

.landing__center {
  bottom: 0;
  left: 0;
  transform: scale(1.1) translateY(10px);
  transform-origin: 0% 100%;
  z-index: 3;
}

.landing__front {
  position: absolute;
  transform: rotateY(180deg) scale(1.4);
  transform-origin: 45% 95%;
  right: 0;
  bottom: 0;
  z-index: 3;
}


html,
body {
  background-color: #FEDCC8;
}

.parallax {
  -webkit-perspective: 100px;
          perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1500px;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer img {
  display: block;
  position: absolute;
  bottom: 0;
}

.parallax__cover {
  background: #2D112B;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2000px;
  z-index: 2;
}



.parallax__layer__3 {
  -webkit-transform: translateZ(-150px) scale(2.5);
          transform: translateZ(-150px) scale(2.5);
}

.parallax__layer__4 {
  -webkit-transform: translateZ(-100px) scale(2);
          transform: translateZ(-100px) scale(2);
}

.parallax__layer__5 {
  -webkit-transform: translateZ(-50px) scale(1.5);
          transform: translateZ(-50px) scale(1.5);
}

.parallax__layer__6 {
  -webkit-transform: translateZ(0px) scale(1);
          transform: translateZ(0px) scale(1) translateY(0px);
}
